%footer#footer
  %p.pull-left
    Copyright &copy; #{Time.now.year}. <a href="#" id="creditsLink">Some icons</a> by others.
  %p.pull-right
    %i.icon-envelope-alt
    mohan@&lt;this domain&gt;
    &nbsp;&nbsp;&nbsp;&nbsp;
    %i.icon-tag
    v7.0.2
#credits

:coffeescript
  $ () ->
    $("#creditsLink").click (e) ->
      e.preventDefault()
      $.get "/credits.html", (data) ->
        $("#credits").html(data)
        $("#credits").fadeToggle()
