!!!
%html
  %head
    %title www.mohanzhang.com
    %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{:src => "/javascripts/jquery.bigtext.js"}
    :coffeescript
      $ () ->
        $("#mainHeading").bigtext({childSelector: '> h1'})
        $("#bylines").bigtext({childSelector: '> h2'})
        $("#divider a").click (e) ->
          e.preventDefault()
          $("#divider .dividerMessage").slideToggle()
  %body
    .navbar.navbar-static-top
      .navbar-inner
        %a.brand{:href => "#"} www.mohanzhang.com
        %p.navbar-text.pull-right v7
    #masthead
      .container-fluid
        .row-fluid
          .span8
            #mainHeading
              %h1 LIFE IS LEARNING
          .span4
            #bylines
              %h2 and earning and yearning.
              %h2 Sometimes it is burning and turning and churning.
              %h2 But it is always <em>learning</em>.

    #divider
      .dividerTop
        %a{:href => "#"} who are you?
      .dividerMessage
        %p
          Hi! My name is Mohan Zhang and this is version seven of my online
          home. I used to share quite a bit of my life on these pages, but
          recently started feeling like that was undesirable. Over the past few
          years, I've become a big fan of being as local and present as
          possible in my life and daily interactions. I really do believe that
          this is the key to happiness.
        %p
          While that may be the case, I can still appreciate the power that the
          Internet has had in making connections where there wouldn't have been
          any, and don't wish to marginalize that kind of happenstance. As a
          result, my website has now become a repository of the skills I am
          developing in my person, and these are the exact skills and interests
          I wish to make the topic of our conversation, since I wish to meet
          those who can help me progress&mdash;that person might be you!
        %p
          In the boxes below, I display a few "badges" representing my
          individual journeys of learning in various topics. A green background
          means that I am pursuing the subject actively; a yellow background
          means that my efforts have stalled (but would gladly pick things up
          again given the opportunity); and a gray background means that the
          topic of interest is now considered a past passion (i.e. unlikely
          that I will revive it).
        %p
          Finally, you will also notice that there is a sequence of wedges that
          light up clockwise from the top. These represent the four stages of
          competence: Unconscious Incompetence (top), Conscious Incompetence
          (right), Conscious Competence (bottom), and Unconscious Competence
          (left). You can read more about it <a href="https://en.wikipedia.org/wiki/Four_stages_of_competence">here</a>.
        %p
          It is worth mentioning that I will never assign the wedge
          representing the last stage of learning (Unconscious Competence) to
          myself. That's where you come in: if you believe me to be truly
          unconsciously competent in any of the badges below, please get in
          touch!  It is likely that you, too, will be unconsciously competent
          in the subject matter (for how else could you have judged me to be
          so?) and we might learn a lot from each other. Only then might I
          grant myself the coveted last wedge.
      .dividerBottom

    #badgeField.container-fluid
      .row-fluid
        .span6
          .badgeBox
            %h4 Life
            .badgeImg
              %img{:src => "/images/badges/cooking.png"}
              %h6 Cooking
            .badgeImg
              %img{:src => "/images/badges/driving.png"}
              %h6 Driving
            .badgeImg
              %img{:src => "/images/badges/eating.png"}
              %h6 Eating Well
            .badgeImg
              %img{:src => "/images/badges/general_health.png"}
              %h6 General Health
            .badgeImg
              %img{:src => "/images/badges/traveling.png"}
              %h6 Traveling
        .span6
          .badgeBox
            %h4 Nature/Outdoors
            .badgeImg
              %img{:src => "/images/badges/camping.png"}
              %h6 Camping
            .badgeImg
              %img{:src => "/images/badges/barefoot_running.png"}
              %h6 Barefoot Running
            .badgeImg
              %img{:src => "/images/badges/farming.png"}
              %h6 Farming
            .badgeImg
              %img{:src => "/images/badges/hiking.png"}
              %h6 Hiking
            .badgeImg
              %img{:src => "/images/badges/natural_movement.png"}
              %h6 Natural Movement
      .row-fluid
        .span12
          .badgeBox
            %h4 Sports and Athletics
            .badgeImg
              %img{:src => "/images/badges/archery.png"}
              %h6 Archery
            .badgeImg
              %img{:src => "/images/badges/basketball.png"}
              %h6 Basketball
            .badgeImg
              %img{:src => "/images/badges/bjj.png"}
              %h6 BJJ
            .badgeImg
              %img{:src => "/images/badges/mma.png"}
              %h6 MMA
            .badgeImg
              %img{:src => "/images/badges/skateboarding.png"}
              %h6 Skateboarding
            .badgeImg
              %img{:src => "/images/badges/surfing.png"}
              %h6 Surfing
            .badgeImg
              %img{:src => "/images/badges/volleyball.png"}
              %h6 Volleyball
            .badgeImg
              %img{:src => "/images/badges/weightlifting.png"}
              %h6 Weightlifting
            .badgeImg
              %img{:src => "/images/badges/windsurfing.png"}
              %h6 Windsurfing
            .badgeImg
              %img{:src => "/images/badges/yoga.png"}
              %h6 Yoga
      .row-fluid
        .span8
          .badgeBox
            %h4 The Finer Arts
            .badgeImg
              %img{:src => "/images/badges/drawing.png"}
              %h6 Drawing
            .badgeImg
              %img{:src => "/images/badges/guitar.png"}
              %h6 Guitar
            .badgeImg
              %img{:src => "/images/badges/painting.png"}
              %h6 Painting
            .badgeImg
              %img{:src => "/images/badges/perfumery.png"}
              %h6 Perfumery
            .badgeImg
              %img{:src => "/images/badges/piano.png"}
              %h6 Piano
            .badgeImg
              %img{:src => "/images/badges/singing.png"}
              %h6 Singing
            .badgeImg
              %img{:src => "/images/badges/songwriting.png"}
              %h6 Songwriting
        .span4
          .badgeBox
            %h4 The Digital Arts
            .badgeImg
              %img{:src => "/images/badges/adobe_illustrator.png"}
              %h6 Adobe Illustrator
            .badgeImg
              %img{:src => "/images/badges/blender.png"}
              %h6 Blender
            .badgeImg
              %img{:src => "/images/badges/bryce_5.png"}
              %h6 Bryce 5
      .row-fluid
        .span5
          .badgeBox
            %h4 Computer Things
            .badgeImg
              %img{:src => "/images/badges/git.png"}
              %h6 git
            .badgeImg
              %img{:src => "/images/badges/vim.png"}
              %h6 vim
            .badgeImg
              %img{:src => "/images/badges/xmonad.png"}
              %h6 XMonad
        .span7
          .badgeBox
            %h4 Web Things
            .badgeImg
              %img{:src => "/images/badges/backbone_js.png"}
              %h6 Backbone.js
            .badgeImg
              %img{:src => "/images/badges/blogging.png"}
              %h6 Blogging
            .badgeImg
              %img{:src => "/images/badges/hakyll.png"}
              %h6 Hakyll
            .badgeImg
              %img{:src => "/images/badges/ruby_on_rails.png"}
              %h6 Ruby on Rails
            .badgeImg
              %img{:src => "/images/badges/web_design.png"}
              %h6 Web Design

      .row-fluid
        .span3
          .badgeBox
            %h4 Weapons of Choice
            .badgeImg
              %img{:src => "/images/badges/coffeescript_js.png"}
              %h6 Coffeescript/js
            .badgeImg
              %img{:src => "/images/badges/haskell.png"}
              %h6 Haskell
            .badgeImg
              %img{:src => "/images/badges/ruby.png"}
              %h6 Ruby
        .span4
          .badgeBox
            %h4 On Call
            .badgeImg
              %img{:src => "/images/badges/c_sharp.png"}
              %h6 C#
            .badgeImg
              %img{:src => "/images/badges/java.png"}
              %h6 Java
            .badgeImg
              %img{:src => "/images/badges/ocaml.png"}
              %h6 OCaml
        .span5
          .badgeBox
            %h4 Of Years Past
            .badgeImg
              %img{:src => "/images/badges/c.png"}
              %h6 C
            .badgeImg
              %img{:src => "/images/badges/cpp.png"}
              %h6 C++
            .badgeImg
              %img{:src => "/images/badges/mips_assembly.png"}
              %h6 MIPS Assembly
            .badgeImg
              %img{:src => "/images/badges/qbasic.png"}
              %h6 QBASIC
            .badgeImg
              %img{:src => "/images/badges/sml_nj.png"}
              %h6 SML/NJ
            .badgeImg
              %img{:src => "/images/badges/visual_basic.png"}
              %h6 Visual Basic
      .row-fluid
        .span8
          .badgeBox
            %h4 Human Languages
            .badgeImg
              %img{:src => "/images/badges/chinese.png"}
              %h6 Chinese
            .badgeImg
              %img{:src => "/images/badges/english.png"}
              %h6 English
            .badgeImg
              %img{:src => "/images/badges/esperanto.png"}
              %h6 Esperanto
            .badgeImg
              %img{:src => "/images/badges/french.png"}
              %h6 French
            .badgeImg
              %img{:src => "/images/badges/italian.png"}
              %h6 Italian
            .badgeImg
              %img{:src => "/images/badges/spanish.png"}
              %h6 Spanish
            .badgeImg
              %img{:src => "/images/badges/swedish.png"}
              %h6 Swedish
        .span4
          .badgeBox
            %h4 Academic/Research Interests
            .badgeImg
              %img{:src => "/images/badges/ancestral_health.png"}
              %h6 Ancestral Health
            .badgeImg
              %img{:src => "/images/badges/computational_linguistics.png"}
              %h6 Computational Linguistics
            .badgeImg
              %img{:src => "/images/badges/nlp_guided_research.png"}
              %h6 NLP-Guided Research
            .badgeImg
              %img{:src => "/images/badges/skin_health.png"}
              %h6 Skin Health
            .badgeImg
              %img{:src => "/images/badges/sustainability.png"}
              %h6 Sustainability
