!!!
%html
  %head
    %title www.mohanzhang.com
    %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "css/font-awesome.css", "type" => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{:src => "/javascripts/jquery.bigtext.js"}
    $typekit$
    $analytics$
    :coffeescript
      $ () ->
        $("#mainHeading").bigtext({childSelector: '> h1'})
        $("#bylines").bigtext({childSelector: '> h2'})
        $("#dividerToggleLink").click (e) ->
          e.preventDefault()
          $("#divider .dividerMessage").slideToggle()
  %body
    %header
      .navbar.navbar-static-top
        .navbar-inner
          %a.brand{:href => "/"} www.mohanzhang.com
          %ul.nav.pull-right
            %li
              %a{:href => "http://mohanzhang.wordpress.com"} <i class="icon-rss"></i> Wordpress
            %li
              %a{:href => "https://www.github.com/mohanzhang"} <i class="icon-github"></i> GitHub
      #masthead
        .container-fluid
          .row-fluid
            .span8
              #mainHeading
                %h1 LIFE IS LEARNING
            .span4
              #bylines
                %h2 and earning and yearning.
                %h2 Sometimes it is burning and turning and churning.
                %h2 But it is always <em>learning</em>.

    $body$
    $footer$
